.main__lateral-menu{
    display: none;
}

@media screen and (min-width: 1024px) {
    .main__lateral-menu{
        display: block;

        position: fixed;
        transform: translateX(0%);

        background: var(--secondary-bg-color);

        width: 14rem;
        height: 100vh;

        padding-top: 7rem;
        padding-bottom: 2rem;

        transition: transform .3s ease-in-out;
        
        overflow: auto;
    }

    .main__lateral-menu::-webkit-scrollbar,
    .main__lateral-menu::-webkit-scrollbar-thumb{
        background-color: transparent;
    }

    .main__lateral-menu:hover::-webkit-scrollbar{
        background-color: var(--scrollbar-bg-color);
    }

    .main__lateral-menu:hover::-webkit-scrollbar-thumb{
        background-color: var(--scrollbar-color);
    }

    .lateral-menu__line{
        width: 92%;
        height: .125rem;

        display: block;

        background: var(--special-txt-color);

        margin: 2rem auto;
    }
}